.input{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    overflow: scroll;
    color:red;
}
@media screen and (max-width: 1024px){
.hi {
    position: fixed;
    width: 100vw;
    bottom: 2vh;
    left: 0vw;
}
}
@media screen and (min-width: 1025px){
    .hi {
        position: fixed;
        width: calc(100% - 210px);
        bottom: 2vh;
        left: 210px;
    }
}
.hi2
{
    height: 5vh;
}
.chatBubble
{
    margin: 1vh;
    max-width: 70%;
    width: fit-content;
    height: fit-content;
    overflow-wrap: break-word;
    fill: red;
}
@media screen and (min-width: 1025px){
    .chatContainer {
        position: fixed;
        width: calc(100% - 210px);
        top: 110px;
        left: 210px;
        height: calc(93vh - 110px);
    }
}
@media screen and (max-width: 1024px){
    .chatContainer {
        position: fixed;
        width: 100vw;
        top: 110px;
        left: 0vw;
        height: calc(93vh - 110px);
    }
    }
.myInput
{
    width: 80%;
    height: 85%;
}
.sendButton
{
    width:20%;
    height: 100%;
}
.sidebar {
    width: 4000vw !important;
    height: 10vh !important;
}

.topbar {
    background-color: red;
    width: 100%;
}
.unstyled-button {
    width: 100%;
    height:100%;
}
.rounded-div{
}
.cool-button {
    width: 100%;
    height: 100%;
    color: white;
}
.centered
{
    margin:auto;
    align-self: center;
}
.avatarThingy
{
    border-radius: 50%;
}
.corner
{
    position: static;
    top: 0;
    left: 0;

}
.color
{
    background-color: white;
}
body {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
}